**/bin
**/build
**/obj
**/notes
**/CMakeFiles
**/trsh
**/CMakeCache.txt
/cmake_install.cmake
**/Makefile
**/_deps
**/data/Models/*
*~
*.swp
*.swo
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
**/Cypher
**/Cypher.exe
libCypher.dll.a
cmake_install.cmake
Makefile
.vscode
**/fa-brands-400.ttf
**/fa-regular-400.ttf
**/fa-solid-900.ttf
**//external/IconFontCppHeaders
**/Projects
**/cypher-launcher.lnk
